
.div_container{
    background-color: lightgray;
        width: 38em;
        height: 44.3em;
        padding-top: 2em;
        border-color: black;
        float: left;
        font-family: 'Inter', sans-serif;
    overflow: hidden;
        overflow-y: scroll;
}

.NF{
    display: flex;
    margin-bottom: 2em;
    margin-left: 1em;
}

.NFInput{
    margin-left: 1em;
}

.inputDiv {
    margin-bottom: 2em;
    margin-left: -1.5em;
}

.inputDiv input {
    cursor: pointer;
}

.inputDiv label {
    margin-left: -1em;
    font-size: 15px;
}
.form h3{
    display: flex;
    font-size: 1.1em;
    font-weight: bolder;
    justify-content: center;
    margin-bottom: 3em;
}
.type{
    margin-left: 1.6em;
}
.espesor{
    margin-right: -1em;
}

.cohesion{
    margin-left: .6em;
}

.phi {
    margin-left: .4em;
}


.ngp{
    margin-left: -.7em;
}

.units{
    margin-top: -1.5em;
}
.labels ul{
    display: flex;
}

.units ul {
    display: flex;
} 

.uEspesor{
    margin-left: 16em;
    font-size: 12px;
}

.uPeso{
    margin-left: 8.4em;
    font-size: 12px;
}

.uCohesion {
    margin-left: 1.4em;
    font-size: 12px;
}


.uPhi {
    font-size: 12px;
}
.labels ul li{
    margin-right: 3em;
}

.div form comp ul{
    list-style: none;
}

.div form comp ul li{
    margin-right: 5em;
}

.divInputsA{
    width: 1.5em;
}

.select_soil{
    width: 12em;
    height: 4em;
    margin-left: -3em;
    margin-right: 1em;
    font-size: 15px;
}

.comp{
    display: flex;
    justify-content: center;
    margin-top: -2em;
    margin-left: 2em;
    
}

.comp ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.comp ul li div input{
    width: 2.5em;
    margin-right: 2em;
}

.addBtn{
    padding: 5px;
    border-radius: 3px;
    border-width: .2px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    cursor: pointer;
}

.buttons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.divInputs{
    height: 2.5em;
    padding-top: .5em;
}

