.div_container{
    background-color: lightgray;
        width: 38em;
        height: 44.3em;
        padding-top: 2em;
        border-color: black;
        float: left;
    overflow: hidden;
        overflow-y: scroll;
}

.type{
    margin-left: 1.6em;
}
.espesor{
    margin-right: -1.3em;
}

.cohesion{
    margin-left: .75em;
}

.phi {
    margin-left: .5em;
}

.labels ul{
    display: flex;
}

.labels ul li{
    margin-right: 3em;
}

.div form comp ul{
    list-style: none;
}

.div form comp ul li{
    margin-right: 5em;
}

.select_soil{
    width: 10em;
    height: 4em;
    margin-left: -3em;
    margin-right: 1em;
}

.comp{
    display: flex;
    justify-content: center;
    margin-top: -2em;
    margin-left: 1em;
    
}

.comp ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.comp ul li div input{
    width: 2.5em;
    margin-right: 2em;
}

.addBtn{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.buttons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.divInputs{
    height: 2.5em;
    padding-top: .5em;
}

