.container {
    background-color: lightgray;
    width: 22em;
    height: 44em;
    padding-top: 2em;
    border-color: black;
    float: left;
}

.container h3{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: bolder;
}

ul {
    list-style: none;
    margin-right: 1.5em;
    margin-left: -1em;
}

ul li{
    margin-bottom: 1em;
}

.inputDiv{
    margin-left: -1.5em;
}

.inputDiv input{
    cursor: pointer;
}

.inputDiv label {
    margin-left: -1em;
}

.diam {
    margin-right: 7em;
}

.hr{
    margin: 2em;
}

.divForm{
    display: flex;
    justify-content: center;
}

.fust{
    margin-right: 2.8em;
}

input{
    width: 5em;
}

.btn{
    margin-top: 2.5em;
    display: flex;
    justify-content: flex-end;
    
}

.btn button {
    padding: 5px;
    border-radius: 3px;
    border-width: .2px;
    background-color: white;
    cursor: pointer;
}