
.navContainer{
    background-color: lightgray;
    height: 2.5em;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
}

.container{
    margin-top: -1em;
}

.list{
    display: flex;
    align-content: center;
    align-items: center;
    list-style: none;
    
}

.marg{
    margin-top: .55em;
    margin-right: 5em;
}

.marg button{
    font-family: 'Inter', sans-serif;
        font-weight: bold;
        border-radius: 3px;
        border-width: .2px;
        padding: 1.5px;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
}