.container{
    background-color: lightgrey;
    height: 2.5em;
    margin-bottom: 0px;
}

.list{
    display: flex;
    align-content: center;
    align-items: center;
    list-style: none;
    
}

.marg{
    margin-top: .55em;
    margin-right: 5em;
}

.marg button{
    cursor: pointer;
}