.container{
    background-color: lightgray;
    width: 22.3em;
    height: 44.3em;
    padding-top:2em;
    border-color: black;
    position: relative;
}

.container ul hr{
    margin-left: -2.5em;
}

.container ul{
    list-style: none;
}

.container ul button{
    margin-left: 3em;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    padding: 10px;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}

.select_dropdown{
    margin-right: 2em;
    margin-bottom: 2em;
}

.units_dropdown{
    margin-top: 2.5em;
}

.show_hide{
    width:40em;
    height: 30em;
    position: absolute;
    top: 10.4em;
    left: 10.4em;
    right: 0;
    margin: 0 auto;
    border-color: black;
    border-width: 1px;
}

@media screen and (height:600px) {
    .container {
            background-color: lightgray;
            width: 22.3em;
            height: 42.4em;
            margin-top: -1em;
            padding-top: 2em;
            border-color: black;
        }
}

@media screen and (max-height:600px) and (max-width:1000px){
    .show_hide {
        top: 10.4em;
        left: 5%;
        right: 0;
        margin: 0 auto;
        }
}

